<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.template.mybatis.mapper.TestMapper">


    <select id="getTestListAll" resultType="Test">
        SELECT * FROM TEST
    </select>
    <select id="getTestList" parameterType="test" resultType="test">
		<![CDATA[
		SELECT * FROM TEST
		 WHERE tmp > #{tmp}
		 ]]>
    </select>
    <select id="getTest" parameterType="test" resultType="test">
		<![CDATA[
		SELECT * FROM TEST
		 WHERE tmp = #{tmp}
		 ]]>
    </select>
</mapper>